@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-dark .carousel-caption {
  color: #eee;
}

h3.text-3xl.font-semibold.text-gray-800.capitalize.lg\:text-4xl.dark\:text-white {
  margin-right: 0rem;
  margin-bottom: -3rem;
}

.grid.grid-cols.gap-8.mt-8.md\:mt-16.md\:grid-cols-2 {
  padding-left: 2rem;
}

.grid.grid-cols.gap-8.mt-8.md\:mt-16.md\:grid-cols-2 {
  margin-top: -2rem;
}

.grid.grid-cols.gap-8.mt-8.md\:mt-16.md\:grid-cols-2 {
  padding-left: 2rem;
  margin-top: -3rem;
}

h1.text-gray-900.text-4xl.font-bold.mb-8 {
  margin-left: 1rem;
}


.flex.flex-col.mt-5 {
  margin-left: 28rem;
  gap: 1rem;
}

.w-full.lg\:w-6\/12.px-4 {
  margin-top: 4rem;
}


